$breakpoint-xs: 360px;
$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

@mixin media($media) {
    @if $media == xs {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    } @else if $media == sm {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            @content;
        }
    } @else if $media == md {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
            @content;
        }
    } @else if $media == lg {
        @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
            @content;
        }
    } @else if $media == xl {
        @media (min-width: $breakpoint-xl) and (max-width: $breakpoint-xxl) {
            @content;
        }
    }
    
}

.view {
    text-align: start;
    h2{
        margin-bottom: 30px;
        color: #0d6efd;
    }
    p{
        margin-bottom: 0;
    }
    h4 {
        margin-bottom: 30px;
        color: #6c757d;

    }
}

@include media(md) {
    .check {
        height: 50%;
    }
    
    .font {
        font-size: 30px;
    }
}

@include media(sm) {
    .check {
        height: 50%;
    }
    
    .font {
        font-size: 30px;
    }
}

@include media(xs) {
    .check {
        height: 30%;
    }
    
    .font {
        font-size: 20px;
    }
}