$breakpoint-xs: 360px;
$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin media($media) {
    @if $media == xs {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    } @else if $media == sm {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            @content;
        }
    } @else if $media == md {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
            @content;
        }
    } @else if $media == lg {
        @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
            @content;
        }
    }
}

.bg-light {
    background-color: #607d8bc2!important;
    a{
        color: white !important;
        font-size: 25px;
    }
}

.nav-item {
    a{
        color: black !important;
        font-size: 17px;
        text-align: end;
    }
}
